.header{
    margin-left: 350px;
}
.header h2{
    font-size: 60px;
    color: rgb(194, 10, 124);
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 450px;
}